*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.content{
    height: 100%;
    width: 100%;
    display: flex;
}
.left{
    height: 100%;
    width: 50%;
    background: red;
}
.right{
    height: 100%;
    width: 50%;
    background: blue;
}
#mapid{
    height: 400px;
}