*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.content{
    height: 100%;
    width: 100%;
    display: flex;
}
.left{
    height: 100%;
    width: 50%;
    background: red;
}
#mapid{
    height: 400px;
    height: 100%;
}
.right{
    height: 100%;
    width: 50%;
    background-image: url(../../assets/img/camtare.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
}
.Rleft{
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.Rright{
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 20%;
    border-radius: 20px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 10px 10px 10px black;
}
.value{
    font-size: 30px;
}